@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.linear_color {
  @apply text-transparent bg-clip-text bg-[linear-gradient(90deg,#632EE3,#9F62F2)];
}
